# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Django
*.log
local_settings.py
db.sqlite3
media/
static/

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.iml
